.AboutContainer {
    background-color: black;
    display: flex;
    height: 100vh;
    width: 100vw;
    background: black;
    background-image: url(C:\Users\kwser\OneDrive\Desktop\smallport\public\images\greenback.jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;

}

.pic2Container {
    display: flex;
    width: 17vw;
    height: 44vh;
    margin-top: 25vh;
    margin-left: 5vw;
    background-color: transparent;
    justify-content: center;
    position: fixed;
}

.pic2 {
    display: flex;
    width: 16vw;
    height: 35.5vh;
    flex: 1 1;
    aspect-Ratio: 1.5;
    resize: 'contain';
    position: fixed;
    justify-content: center;
    margin-top: 1vh;
    background-color: transparent;
    position: fixed;



}

.pic2 img {
    display: flex;
    flex: 1 1;
    position: fixed;
    width: 16vw;
    height: 35vh;
    bottom: 39vh;
    
}

 h5 {
    display: flex;
    width: 15vw;
    height: 4vh;
    position: fixed;
    background-color: transparent;
    margin-top: 36vh;
    justify-content: center;
    line-height: 3vh;
    font-size: 3vh;
    color: silver;
}


.paraContainer {
    display: flex;
    width: 44vw;
    height: 44.7vh;
    background: transparent;
    margin-top: 26.8vh;
    margin-left: 39vw;
    position: fixed;
}
.title1 {
    line-height: 4vh;
    height: 8.2vh;
    width: 43vw;
    margin-top: .5vh;
    margin-left: .5vw;
    color: silver;
    background: transparent;
    font-size: 4.5vh;
    justify-content: center;

}

.title1 h2 {
    height: 7vh;
    display: flex;
    justify-content: center;
    background-color: transparent;
    line-height: 6.2vh;
    margin-top: .48vh;

    
}

.title1 p {
    display: flex;
    margin-left: -.5vh;
    height: 36vh;
    margin-top: -5vh;
    justify-content: left;
    text-align: left;
    font-size: 3vh;
    

}


li {
    color: silver
}

ul {
    color: silver;
}