.ContactContainer {
    background-color: black;
    display: flex;
    height: 100vh;
    width: 100vw;
    background: black;
    background-image: url(C:\Users\kwser\OneDrive\Desktop\smallport\src\imagess\blackShot.jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;

}








.paraContainer {
    display: flex;
    width: 44vw;
    height: 44.7vh;
    background: transparent;
    margin-top: 26.8vh;
    margin-left: 15vw;
}
.title3 {
    line-height: 4vh;
    height: 8.2vh;
    width: 44vw;
    margin-top: -5.5vh;
    margin-left: 15.5vw;
    color: silver;
    background: red;
    font-size: 4.5vh;
    justify-content: center;

}


.chatBox{
    display: flex;
    width: 39vw;
    height: 43vh;
    background: blue;
    position: fixed;
    margin-top: 30vh;
    margin-left: 30vw;

}


