.bodyContainer {
    background-image: url(C:\Users\kwser\OneDrive\Desktop\smallport\public\images\metal1.jpg);
    width: 100vw;
    height: 100vh;
   
    position: fixed;
}

.pic1Container {
    display: flex;
    width: 17vw;
    height: 45vh;
    margin-top: 15vh;
    margin-left: 5vw;
    background-color: transparent;
    align-items: center;
    position: fixed;
    justify-content: center;

}



.pic1 {
    background: transparent;
    display: flex;
    width: 16vw;
    height: 34vh;
    justify-content: center;
    margin-top: -10vh;
    border-radius: 10px;
    position: fixed;
}

.pic1 img {
    display: flex;
    width: 15vw;
    flex: 1;
    border-radius: 4px;
    position: fixed;
    bottom: 49vh;
    margin-top: .5vh;
    position: fixed; 
}

.title {
    display: flex;
    width: 15vw;
    height: 4vh;
    color: silver;
    margin-top: 32vh;
    background-color: transparent;
    justify-content: center;
    position: absolute;
    line-height: 0vh;
}

h1 {
    display: flex;
    width: 15vw;
    height: 4vh;
    color: silver;
    margin-top: 36vh;
    background-color: transparent;
    justify-content: center;
    position: fixed;
    line-height: 3.5vh;
    font-size: 3vh;
   
}

.home__meta {
    position: absolute;
    bottom: 7vh;
    margin-left: 5vw;
    width: 90%;
    min-width: 25%;
    height: 26vh;    
    
    
}



h2.home__text.pz__10 {
    display: flex;
    font-size: 4.5vh;
    line-height: 5vh;
    font-weight: 600;
    font-family: Montserrat,sans-serif;
    width: 70vw;
    height: 5vh;
    position: absolute;
    bottom: 17.5vh;
    color: silver;
    
   /* background:green; */
}
h3.home__text.sweet.pz__10{
    display: flex;
   
    font-size: 6vh;
    font-weight: 800;
    font-family: Montserrat,sans-serif;
    line-height: 5.4vh;
    height: 5.5vh;
    width: 90%;
    position: absolute;
    bottom: 4vh;
    width: 90%;
    color: green;
    text-align: left;
    
    
}
h4.home__text.quote.pz__12 {
    
   
    display: flex;
    height: 8vh;
    position: absolute;
    bottom: -5vh;
    font-size: 2vw;
    font-size: 4vh;
    line-height: 4.5vh;
    color:  silver;
    width: 87vw;
    height: 9.5vh;
    text-align: left;
    
}




