.NavBarContainer {
    display: flex;
    /* background-image: url(C:\Users\kwser\OneDrive\Desktop\smallport\src\images\metal1.jpg); */
    background-color: red;
    position: fixed;
    margin-left: -3.5vw;
    color: silver;
    z-index: 1;
}

.NavBarContainer ul li a {
    display: flex;
    margin-top: 1vh;
    color: silver;
    
}




a { 
   color: silver;
}